@import '../../styles/color.scss';

.botao {
    background-color: $secundary;
    color: $black;
    padding: 16px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    font-family: Inter;
}

@media screen and (max-width: 425px) {
    .botao {
        width: 100%;
    }
}

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
