$primary: #3b7698;
// $verde-hover: darken($primary, 10%);
// color.scale($color, $lightness: -24.1706161137%)
// color.adjust($color, $lightness: -10%)
$secundary: #fdbf21;
$white: #ffffff;
$black: #394149;
