/* The component style is inserted here. */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 380px;

    img {
        width: 60%;
        max-width: 150px;
        margin-bottom: 15px;
        // height: 274px;
    }
}
