/* The component style is inserted here. */

.cardSection {
    background-color: rgb(220, 217, 217);
    padding: 40px 20px;
    // margin: 10px 0px;
    // display: flex;
    gap: 30px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    align-items: center;
    overflow: hidden;
    // width: 100%;
    // background-color: red;
}

@media only screen and (min-width: 768px) {
    .cardSection {
        gap: 20px;
    }
}

.itemsSection {
    display: flex;
    flex-direction: column;
    // gap: 40px;
    justify-content: center;
    padding: 40px 20px;
    align-items: center;

    .items {
        // display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        // padding: 40px 20px;
        margin-top: 40px;
        gap: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

.callToActionSection {
    background-color: #a6bddf;
    display: flex;
    // height: 350px;
    align-items: center;
    justify-content: center;
    // gap: 100px;
    // padding: 20px;

    // img {
    //     height: 100%;
    // }

    // .content {
    //     width: 400px;

    //     p {
    //         line-height: 1.2;
    //         font-size: 1.2rem;
    //         margin-bottom: 30px;
    //     }
    // }

    .wrapper {
        background-color: red;
        // width: 800px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 350px;
        // align-items: center;

        .content {
            // width: 400px;

            p {
                line-height: 1.2;
                font-size: 1.2rem;
                margin-bottom: 30px;
            }
        }

        // img {
        //     height: 100%;
        // }
    }
}
